<div class="container social-recipe-footer-panel">
  <div class="row">
    <div class="col-md-2">
      <p>About Us</p>
    </div>
    <div class="col-md-2">
      <p>Company</p>
    </div>
    <div class="col-md-2">
      <p>Contact Us</p>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p>Copyright 2015 Social Recipe</p>
    </div>
  </div>
</div>
