<div class="container">
  <div class="row">
    <div class="col-md-12">
      <strong class="category-title">Food Type</strong>
      <% @food_types.each do |ft| %>
        <p><%= ft.name %></p>
      <% end %>
    </div>
    <div class="col-md-12">
      <strong class="category-title">Food Type</strong>
      <% @food_preferences.each do |fp| %>
        <p><%= fp.name %></p>
      <% end %>
    </div>
    <div class="col-md-12">
      <strong class="category-title">Food Type</strong>
      <% @cuisines.each do |c| %>
        <p><%= c.name %></p>
      <% end %>
    </div>
  </div>
</div>
