<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_preference.name %>
</p>
<%= link_to 'Edit', edit_food_preference_path(@food_preference) %> |
<%= link_to 'Back', food_preferences_path %>
